@model InventoryManagement.Models.Order

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Receipt</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Paid)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Paid)
        </dd>

        <dt>
            Customer
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Customer.Name)
        </dd>

        @if (Model.Parts.Count() > 0)
        {
            <dt>
                Part Sold
            </dt>
            <dd>
                @Html.Raw(ViewBag.partDetail)
            </dd>

            <dt>
                Sale Price
            </dt>
            <dd>
                @Html.Raw(ViewBag.salePrice)
            </dd>
        }
        @if (Model.OrderHistory != null)
        {
            <dt>
                Parts Returned:
            </dt>
            <dd>
                @Html.Raw(Model.OrderHistory)
            </dd>
        }

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
