@model InventoryManagement.Models.Part

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">
    <h4>Part</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Condition, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Condition, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Condition, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Area, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EnumDropDownListFor(model => model.Area, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Area, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Price, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Price, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Price, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.CarID, "Car", htmlAttributes: new { @class = "control-label col-md-2 " })
        <div class="col-md-10">
            @Html.DropDownList("CarID", null, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.CarID, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group" method="post">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" name="submit" value="Create" class="btn btn-default" formaction=@Url.Action("Create") />
            <input type="submit" name="Add Another Part" value="Add Another Part" class="btn btn-default" formaction=@Url.Action("AddPart")/>
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

<script type="text/javascript">
        function ChangeValue(id) {
            if (btn.value == "Change")
                btn.value = "Save";
            else {
                 btn.value = "Change";
            }
            return false;
        }
</script>