@model IEnumerable<InventoryManagement.Models.Car>

@{
    ViewBag.Title = "Cars";
}

<h2>Cars</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
@using (Html.BeginForm())
{
<p>
    <label>Make: </label>@Html.TextBox("MakeSearch", null, new { @class="form-control" })
    <label>Model: </label>@Html.TextBox("ModelSearch", null, new { @class="form-control" })<br />
    <input type="submit" class="btn btn-default" value="Search" />
    <input type="submit" value="Clear" class="btn btn-default" formaction=@Url.Action("Index", new { makeSearch = "", modelSearch = "" }) />
</p>
    
}
    <table class="table">
        <tr>
            <th>
                @Html.ActionLink("Make", "Index", new { sortOrder = ViewBag.MakeSort })
            </th>
            <th>
                @Html.ActionLink("Model", "Index", new { sortOrder = ViewBag.ModelSort })
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cost)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Colour)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Chassis)
            </th>
            <th>
                @Html.ActionLink("Year", "Index", new { sortOrder = ViewBag.YearSort })
            </th>
            <th>
                Supplier
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Make)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Model)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Cost)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Colour)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Chassis)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Year)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Supplier.Name)
                </td>
                <td>
                    @using (Html.BeginForm())
                    {
                        <input type="submit" value="Find Parts" class="btn btn-default" formaction=@Url.Action("Index", "Part", new { makeSearch = item.Make, modelSearch = item.Model, chassisSearch = item.Chassis }) />
                    }
                </td>

                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                    @Html.ActionLink("Details", "Details", new { id = item.ID }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.ID })
                </td>
            </tr>
        }

    </table>
