@model IEnumerable<InventoryManagement.Models.Customer>

@{
    ViewBag.Title = "Customers";
}

<h2>Customers</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
@using (Html.BeginForm())
{
<div>
    <p>
        <label>Name: </label>@Html.TextBox("NameSearch", null, new { @class = "form-control" } )<br />
        <label>Number: </label>@Html.TextBox("NumberSearch", null, new { @class = "form-control" } )<br />

        <input type="submit" class="btn btn-default" value="Search" />
        <input type="submit" value="Clear" class="btn btn-default" formaction=@Url.Action("Index", new { NameSearch = "", NumberSearch = "" }) />
    </p>
</div>
}
<table class="table">
    <tr>
        <th>
            @Html.ActionLink("Name", "Index", new { sortOrder = ViewBag.NameSort})
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PhNum)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StreetNum)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StreetName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Region)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PostCode)
        </th>
        <th></th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PhNum)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StreetNum)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StreetName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Region)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PostCode)
        </td>
        <td>
            @using (Html.BeginForm())
            {
                <input type="submit" class="btn btn-default" value="Find Orders" formaction=@Url.Action("Index", "Order", new { customerSearch = item.Name}) />
            }
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.CustomerID }) |
            @Html.ActionLink("Details", "Details", new { id = item.CustomerID }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.CustomerID })
        </td>
    </tr>
}

</table>
